.addTodoListBtn {
  background-color: #f57165;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #f2f2;
  }
}

.submitTodoListBtn {
  border: none;
  background-color: #f2f2;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
}

.modifyTodoListBtn {
  border: none;
  background-color: #f57165;
  border-radius: 10px;
  padding: 5px;
  height: 35px;
  cursor: pointer;
  &:hover {
    background-color: #f2f2;
  }
}

.deleteTodoListBtn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  &:hover {
    background-color: #f2f2;
  }
}

.cancelTodoListBtn {
  border: none;
  background-color: #f57165;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  &:hover {
    background-color: #f2f2;
  }
}
