.todoWrapper {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
  .todoInner {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      .todoBtnWrap {
        // button {
        //   background-color: #fff;
        //   border: none;
        // }
      }
    }
  }
}
